body {
    font-family: 'Truculenta', sans-serif; 
      font-weight: bolder !important; 
   font-size: xx-large;
}
#all{
    position: absolute;
    width: 100%;
    height: 100%;
}



#gif{
    position: absolute;
    z-index: 2;
    top: 0%;
    right:1%;
    height: 20%
    
}
#center {
width: 45%;
height: 80%;
position: absolute;
top: 10%;
left: 52%;
color: rgb(40, 71, 120);
/* color: brown; */
border-radius: 3%;
background-color: rgb(218, 219, 220);
z-index: 2;
overflow: scroll;
}
#a1{
    position: absolute;
    z-index: 2;
    top: 69%;
    width: 15%;
    left: 4%;
}
#a2{
    position: absolute;
    z-index: 2;
    top: 28%;
    left: 9%;
    /* transform: scaleX(-1); */
}