 *{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 }
 
 body{
  background-image: url(./img/WhatsApp\ Image\ 2022-05-19\ at\ 2.19.42\ AM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
 }

 #gif{
  position: absolute;
  top: 73%;
  height: 27%;
}
 
 form{
  height: 570px;
  width: 500px;
  background-color: rgba(255,255,255,0.15);
  position: absolute;
  transform: translate(20%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 25px 30px;
  overflow-y: auto;
}

form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  margin: -3px;
  color: white;
  margin-bottom: 20px;
}

#logo{
  width: 12%;
  position: absolute;
  left: 2%;
}

.input-field-L {
  height: 45px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.input-field-L input{
  height: 35px;
  width: 75%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 15px;
  transition: .4s;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}

input:focus{
  border: 1px solid rgb(224, 46, 46);
}

.sel{
  width: 100%;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

select {
  width: 75%;
  height: 35px;
  border-radius: 20px;
  padding-left: 15px;
}

select:focus {
  border: 1px solid rgb(224, 46, 46);
}

label {
  display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-top: 16px;
    text-transform: uppercase;
}

.back, .mod {
  background-color: white;
  color: rgb(224, 46, 46);
  font-weight: bold;
  height: 45px;
  transition : 0.5s;
  border-radius: 30px;
}

.mod:hover {
  margin-top: 15px;
  /* border: 1px solid rgb(224, 46, 46); */
  color: rgb(48 89 122);
  
}

.back:hover {
  margin-left: 15px;
  border: 1px solid rgb(224, 46, 46);
}

.back {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 10px;
  position: absolute;
  top: 545px;
  left: 79px;
}

.mod {
  width: 165px;
  margin: 10px;
  position: relative;
  top: 9px;
  left: 115px;
}
 /* h2{
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 60%;


 }
 #g{
    position: absolute;
    z-index: 3;
    left: 1%;
    width: 51%;
    height: 98%;
    top: 1%;
    border-radius: 3%;
}

#logo{
    width: 12%;
    position: absolute;
    left: 2%;
}

#name{
    position: absolute;
    top: 5%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
}
#sname{
    position: absolute;
    top: 15%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
}
#height{
    position: absolute;
    top: 25%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;

}
#weight{
    position: absolute;
    top: 35%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
}
#bdate{
    position: absolute;
    top: 55%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
    color: rgb(116, 116, 116);

}
#date{
    position: absolute;
    top: 45%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 6%;
 }
 #gender{
    position: absolute;
    top: 65%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
    color: rgb(116, 116, 116);

 }
 #Cholesterol{
    position: absolute;
    top: 75%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
    color: rgb(116, 116, 116);
 }
 #Glucose{
    position: absolute;
    top: 85%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
    color: rgb(116, 116, 116);

 }
 #Smoking{
    position: absolute;
    top: 95%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
    color: rgb(116, 116, 116);

 }
 #Alcoholintake{
    position: absolute;
    top: 105%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
    color: rgb(116, 116, 116);
 }
 #Physicalactivity{

    position: absolute;
    top: 115%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
    color: rgb(116, 116, 116);
}
#Systolic{
    position: absolute;
    top: 125%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
    color: rgb(116, 116, 116);

}
#Diastolic{

    position: absolute;
    top: 135%;
    right: 24%;
    width: 60%;
    border-radius: 10px;
    padding-left: 3%;
    color: rgb(116, 116, 116);;

}
#myInput{
    position: absolute;
    top: 145%;
    height: 7%;
    right: 33%;
    background-color: white;
    background-color:rgb(87, 137, 183);
    color:rgb(3, 11, 41) ;
    width: 40%;        font-size: x-large;
    padding-top: 0%;
    border-radius: 10px;
    transition : 0.5s;


}
#devo{
    position: absolute;
    top: 155%;
    height: 7%;
    right: 33%;
    background-color: white;
    background-color:rgb(87, 137, 183);
    color:rgb(36, 46, 85);
    width: 40%;     
     font-size: x-large;
    border-radius: 10px;
    transition : 0.5s;

}
#devo:hover,#myInput:hover{
  background-color: rgb(224, 46, 46);
  color: white;
    transition : 0.5s;
    border:rgb(224, 46, 46) ;

} */

.modal-header{
  background-color: rgb(211, 236, 250);
  color: rgb(24, 42, 112);
}
.modal-body{
  color: rgb(24, 42, 112);
  font-size: x-large;
}
.fade.modal-backdrop.show{
  opacity: 0.7;
 }
 .modal-dialog.show{
  opacity:0.31;
}
/* .modal-content:target {
  opacity: 1;
} */
.modal {
  position: fixed;
  top: 16%;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.btn-primary {
  color: #fff;
  background-color: rgb(24, 42, 112);
  border-color: rgb(3, 11, 41);
}
.btn-primary:hover{
  /* background-color: rgb(224, 46, 46);
  /* color: white; */
    transition : 0.5s;
    /* border:rgb(224, 46, 46) ;  */
    background-color: #6c757d;
    border-color: #6c757d;  }
    
    .btn-secondary:hover ,.btn-primary:hover{
  background-color: rgb(224, 46, 46); 
  color: white;
  transition : 0.5s;
  /* border:rgb(224, 46, 46) ;  */
    }
    .btn-close {
      box-sizing: content-box;
      width: 0em;
      height: 0em;
      padding: 0.25em 0.25em;
      color: #000;
      /* background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat; */
      border: 0;
      border-radius: 0.25rem;
      opacity: .5;
      top: 14%;
      position: absolute;
      right: 5%;
  }
/* @media screen and (max-width: 400px) {
 
    
} */
@media screen and (max-width: 1125px) {
  form {
    transform: translate(-50%,-50%);
  }
}

@media screen and (max-width: 900px) {
  #gif {
    display: none;
  }
  .back {
    top: 548px;
    left: 2px;
  }
}

@media screen and (max-width: 500px) {
  form {
    width: 410px;
  }
  .back {
    top: 685px;
  }
  .mod {
    left: 80px;
  }
  .modal {
    width: 90%;
    margin-left: 23px;
  }
  /* body {
    background-image: url(../Css/img/data-service-heart.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  } */
}