body {
    background-image: url(img/625f71d6-f7ff-40ce-8507-f07d58f65f9b.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    /* background-color: red; */
    padding: 20px;
    margin-left: 20px;
}

.card {
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    background-color: rgba(255,255,255,0.01);
    transition: 0.5s;
}

/* .card:hover {
    padding-bottom: 15px;
} */

.card-title , .card-text {
    font-family: cursive;
}

.card-title {
    color: white;
    font-weight: bolder;
    font-size: x-large;
}

.card-text{
 color: black;
 font-size: 22px;
}

.card-img-top {
    height: 160px;
}


.about {
    position: absolute;
    top: 85%;
    left: 625px;
    background-color: white;
    color: rgb(13 110 253);
    font-weight: bold;
    width: 110px;
    height: 45px;
    border-radius: 10px;
    transition: 0.5s;
    border-color: white;
}

.about:hover {
    margin-left: 15px;
    border: 1px solid rgb(13 110 253);
    
}
